<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{dd-MM-yy HH:mm:ss} - %msg%n
				</pattern>>
			</PatternLayout>
		</Console>
		<RollingFile name="RollFile-Appender" fileName="./log/log.log" filePattern="./log/%d{yyyy.MM.dd HH.mm.ss}.log.gz">
			<PatternLayout>
				<pattern>
					[%-5level] %d{dd-MM-yy HH:mm:ss} - %msg%n
				</pattern>
			</PatternLayout>
		<Policies>
			<OnStartupTriggeringPolicy />
		</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="Info">
		<AppenderRef ref="Console-Appender" />
		<AppenderRef ref="RollFile-Appender" />
		</Root>
	</Loggers>
</Configuration>