<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Appenders>
		<Console name="Console-Std-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{dd-MM-yy HH:mm:ss} - %msg%n
				</pattern>
			</PatternLayout>
			<Filters>
				<ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="DENY" />
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT" />
			</Filters>
		</Console>
		<Console name="Console-Err-Appender" target="SYSTEM_ERR">
			<PatternLayout>
				<pattern>
					[%-5level] %d{dd-MM-yy HH:mm:ss} - %msg%n
				</pattern>
			</PatternLayout>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</Console>
		<RollingFile name="RollFile-Appender" fileName="./log/log.log" filePattern="./log/%d{yyyy.MM.dd HH.mm.ss}.log.gz">
			<PatternLayout>
				<pattern>
					[%-5level] %d{dd-MM-yy HH:mm:ss} - %msg%n{STYLE=Logback}
				</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="Debug">
			<AppenderRef ref="Console-Std-Appender" />
			<AppenderRef ref="Console-Err-Appender" />
			<AppenderRef ref="RollFile-Appender" />
		</Root>
	</Loggers>
</Configuration>