<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss} - %c{1} - %msg%n
				</pattern>>
			</PatternLayout>
		</Console>
		<File name="File-Appender" fileName="./log.log" bufferedIO="false">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss} - %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>  
		<RollingFile name="RollFile-Appender" fileName="./debug/log.log" filePattern="./debug/%d{yyyy-MM-dd-HH}.%i.log.gz">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss} - %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		<Policies>
			<OnStartupTriggeringPolicy />
			<TimeBasedTriggeringPolicy interval ="24"/>
		</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
		<AppenderRef ref="Console-Appender" />
		<AppenderRef ref="File-Appender" />
		</Root>
	</Loggers>
</Configuration>